@import url(normalize.css);
body{
    background: #2D7E3E no-repeat url(../images/werewolf-bg.png);
    background-size: 100% 100%;
    min-height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

.navbar img{
    margin-left: 2em;
    width: 100px;
}

.navbar h1{
    font-family: "Dancing Script", cursive;
    text-align: center;
    padding-top:20px;
}

.portfolio-button {
    border: none;
    border-radius:10px;
    padding:5px 10px;
    font-size:2em;
    background-color: #2EB096;
    margin-top:40px;
    margin-right: 20px;
    cursor: pointer;
}

.portfolio-button:hover{
    opacity: 0.5;
}

.portfolio-button:active{
    background-color: #41BF5C;
}

main{
    margin: 13em 0;
    width: 100%;
}

.hero{
    background-color: #0c743a;
    width: 65%;
    border-radius: 20px;
    padding: 20px;
    /* text-align: center; */
    position: relative;
    margin: 11em 20px;
}

.hero p,.hero ul li{
    /* line-height: 3em; */
    font-size: x-large;
    text-align: justify;
}

.skill-flow{
    width: 100%;
    position: absolute;
    top: -11em;
    left: 0;
    display: flex;
}

.skill {
    width: 25%;
    text-align: center;
}

.animation-frame{
    margin: 0 auto;
    width: 1em;
    height: 9em;
    background-color: #10a8af;
}

.box-enter{
    width: 1em;
    height: 9em;
    background-color: #163D1F;
    animation: box-enter 3s ease 0s infinite forwards;
}

@keyframes box-enter {
    0% { clip-path: inset(-5% 25% 95% 25%); }
    50% { clip-path: inset(45% 25% 50% 25%); }
    100% { clip-path: inset(95% 25% -5% 25%); }
}

.hero a.portfolio-button{
    background-color: #009782;
    color: black;
    font-family: 'Dancing Script';
    margin: 0;
}

.hero img{
    border-radius: 50%;
    width: 270px;
    float: left;
    padding-right: 1em;
}

.portfolio {
    width: 100%;
    position: absolute;
    bottom: -11em;
    left: 0;
    text-align: center;
}



/* Social Media Icons Section */
#contact {
    text-align: center;
    margin: 50px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
}

.social-icon {
    font-size: 24px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}


/* Optional: Style icons based on specific platforms */
.social-icon .fa-facebook-f {
    color: #265acb;
}
.social-icon .fa-facebook-f:hover {
    color: #0040c9;
}
.social-icon .fa-twitter {
    color: #1da1f2;
}
.social-icon .fa-twitter:hover {
    color: #006db1;
}
.social-icon .fa-linkedin-in {
    color: #0097f4;
}
.social-icon .fa-linkedin-in:hover {
    color: #014970;
}
.social-icon .fa-github {
    color: #333;
}
.social-icon .fa-github:hover {
    color: rgb(30, 28, 28);
}
.social-icon .fa-envelope {
    color: #d44638;
}
.social-icon .fa-envelope:hover {
    color: #ff1500;
}


footer {
    width: 70%;
    text-align: center;
}
@media (max-width: 1300px){
    body{
        background: #2D7E3E;
    }
    .hero{
        width: calc(100vw - 80px);
    }
    footer {
        width: 100%;
    }
}

@media (max-width: 840px){
    .hero{
        text-align: center;
    }
    .hero img{
        width: 150px;
        float: none;
    }
    .hero p{
        font-size: x-large;
    }
}